{{ ansible_managed | comment }}

[ ca ]
default_ca             = ca_default

[ ca_default ]
certificate            = {{ ipxe_ca__ca_cert_path }}
private_key            = {{ ipxe_ca__ca_key_path }}
new_certs_dir          = {{ ipxe_ca__web_path }}/signed
database               = /tmp/ipxe-ca.db
serial                 = /tmp/ipxe-ca.serial
default_md             = default
policy                 = policy_anything
preserve               = yes
default_days           = {{ ipxe_ca__certificate_valid_days }}
unique_subject         = no

[ policy_anything ]
countryName            = optional
stateOrProvinceName    = optional
localityName           = optional
organizationName       = optional
organizationalUnitName = optional
commonName             = optional
emailAddress           = optional

[ cross ]
basicConstraints       = critical,CA:true
keyUsage               = critical,cRLSign,keyCertSign
