{{ ansible_managed | comment }}

IPXE_CA_WEB_PATH={{ ipxe_ca__web_path }}
IPXE_CA_CERT_PATH={{ ipxe_ca__ca_cert_path }}
IPXE_CA_KEY_PATH={{ ipxe_ca__ca_key_path }}
IPXE_CA_CERTIFICATE_VALID_DAYS={{ ipxe_ca__certificate_valid_days }}
