---
name: CI
on:
  pull_request: {}
  push:
    branches:
      - main

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python 3
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install yamllint
        run: pip3 install ansible-lint yamllint

      - name: Lint with ansible-lint
        run: ansible-lint -vvvvvvvvvv -R

  molecule:
    name: Molecule

    permissions:
      # Required for hetznercloud/tps-action
      id-token: write

    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python 3
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install ansible and molecule
        run: pip3 install ansible molecule-hetznercloud

      - uses: hetznercloud/tps-action@main
        with:
          token: ${{ secrets.HCLOUD_TOKEN }}

      - name: Run molecule
        run: |
          molecule test
        env:
          TTS_TOKEN: ${{ secrets.TTS_TOKEN }}
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
