---
name: CI
on:
  pull_request: {}
  push:
    branches:
      - main

jobs:
  lint:
    name: Lint
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python 3
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install yamllint
        run: pip3 install ansible-lint yamllint

      - name: Lint with ansible-lint
        run: ansible-lint -vvvvvvvvvv -R

  molecule:
    name: Molecule
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python 3
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install ansible and molecule
        run: pip3 install ansible molecule-hetznercloud

      - name: Run molecule
        run: |
          export HCLOUD_TOKEN=$(./.ci/get-token.sh)
          molecule test
          ./.ci/delete-token.sh ${HCLOUD_TOKEN}
        env:
          TTS_TOKEN: ${{ secrets.TTS_TOKEN }}
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
